<% content_for :admin_nav do %>
  <div>menu</div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= flash[:notice] %>
  </div>
<% end %>
<h1><%= @powitanie %></h1>
<% @pages.each do |page| %>
    <div>
	<span>
		<strong><%= page.id %></strong>
	</span>
  	<span>
      	<%= link_to page.title, admin_page_url(page) %>
  	</span>
  	<span>
  		<%= link_to "Edytuj", edit_admin_page_url(page) %>
  	</span>
  	<span>
  		<%= link_to "Usuń", admin_page_url(page), method: "delete" %>
  	</span>
    </div>
<% end %>
<a href="<%= new_admin_page_path %>" class="btn btn-primary">Dodaj nową</a>